.crm-hr {
   width: 100%; 
   border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.crm-lf-row {
   display: flex;
   column-gap: 14px;
   padding-bottom: 14px;
   padding-top: 14px;
}

.crm-lf-row .crm-col1{
   white-space: nowrap;
}

.crm-lf-row .crm-col2{
   width: 100%;
}

.crm-lf-bottom {
   text-align: center;
   padding-top: 14px;
}

.crm-lf-header {
   padding: 14px 0px;
   font-size: 16px;
   font-weight: bold;
   height: 40px;
   border-bottom: 2px solid rgba(34, 36, 38, 0.15);
}

.crm-r-note {
   position: sticky !important;
   position: -webkit-sticky !important;
   top: 0;
   z-index: 1;
}

.crm-r-note div {
   padding: 7px 0px;
   border-bottom: 1px solid rgba(34, 36, 38, 0.1);
   background-color: white;
}

.crm-r-comment {
   border-left: 2px solid rgba(34, 36, 38, 0.15);
   padding-left: 5px;
   white-space: pre-wrap;
}

.crm-cursor {
   cursor: pointer;
   color: #2261a1;
}

.crm-cursor:hover {
   text-decoration: underline;
}

.crm-sticky-table thead th {
   position: sticky !important;
   position: -webkit-sticky !important;
   top: 0;
   border-top: 1px solid rgba(34, 36, 38, 0.1);
}

.crm-select-hover:hover {
   box-shadow: 0px 1px 3px 0px #BCBDBD, 0px 0px 0px 1px #D4D4D5 !important;
}

.crm-select-hover .sub-hover {
   display: none !important;
}

.crm-select-hover:hover .sub-hover {
   display: inline !important;
}


