.PABL-bordercell {
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}
.PADMLBL-group {
    line-height: 30px;
}

.PADMLBL-sticky-top {
    position: sticky !important;
    position: -webkit-sticky !important;
    background-color: #f9fafb ;
    z-index: 1;
}