.ar-hr {
    width: 100%; 
    border-top: 1px solid rgba(34, 36, 38, 0.15);
 }
 
 .ar-lf-row {
    display: flex;
    column-gap: 14px;
    padding-bottom: 14px;
    padding-top: 14px;
 }
 
 .ar-lf-row .ar-col1{
    white-space: nowrap;
 }
 
 .ar-lf-row .ar-col2{
    width: 100%;
 }
 
 .ar-lf-bottom {
    text-align: center;
    padding-top: 14px;
 }
 
 .ar-lf-header {
    padding: 14px 0px;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    border-bottom: 2px solid rgba(34, 36, 38, 0.15);
    margin-bottom: 14px;
 }
 
 .ar-r-note {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0;
    z-index: 1;
 }
 
 .ar-r-note div {
    padding: 7px 0px;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    background-color: white;
 }
 
 .ar-r-comment {
    border-left: 2px solid rgba(34, 36, 38, 0.15);
    padding-left: 5px;
    white-space: pre-wrap;
 }

 .ar-r-comment-discuss {
   padding-left: 5px;
   white-space: pre-wrap;
}
 
 .ar-cursor {
    cursor: pointer;
    color: #2261a1;
 }
 
 .ar-cursor:hover {
    text-decoration: underline;
 }
 
 .ar-sticky-table thead th {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
 }
 
 .ar-select-hover:hover {
    box-shadow: 0px 1px 3px 0px #BCBDBD, 0px 0px 0px 1px #D4D4D5 !important;
 }
 
 .ar-select-hover .sub-hover {
    display: none !important;
 }
 
 .ar-select-hover:hover .sub-hover {
    display: inline !important;
 }
 
 .ar-hr {
   width: 100%; 
   border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.ar-lf-row {
   display: flex;
   column-gap: 14px;
   padding-bottom: 14px;
   padding-top: 14px;
}
 
.ar-select-hover:hover {
   box-shadow: 0px 1px 3px 0px #BCBDBD, 0px 0px 0px 1px #D4D4D5 !important;
}

.ar-select-hover .sub-hover {
   display: none !important;
}

.ar-select-hover:hover .sub-hover {
   display: inline !important;
}

.ar-reply-comment {
   position: sticky !important;
   bottom: 0;
}

.ar-disable-click {
   pointer-events: none;
   cursor: default;
   background-color: #BCBDBD;
 }

.ar-cv-hover-input {
   width: 100%;
   font-size: 1.4em !important;
   font-weight: bold;
   resize: none;
   border: none;
   outline: none;
}

.ar-cv-hover-input:hover {
   outline: 2px solid #CCE2FF !important;
}

.ar-cv-hover-input:focus {
   outline: 2px solid #CCE2FF !important;
}

.ar-cv-btn-hover:hover {
   background-color: #6eabfa !important;
}

.ar-cv-span14 span {
   padding-left: 28px;
}

.ar-cv-grid-container {
   display: grid;
   grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
   grid-gap: 14px;
 }
 
 .ar-cv-grid-container .item3 {
   grid-column-start: 1;
   grid-column-end: 3;
   border-bottom: 2px solid #DEDEDE;
   padding-bottom: 7px;
   margin-bottom: -7px;
 }

 .ar-cv-grid-container .item4 {
   grid-column-start: 1;
   grid-column-end: 1;
 }
 .ar-cv-grid-container .item5 {
   grid-column-start: 1;
   grid-column-end: 1;
 }
 .ar-cv-grid-container .item6 {
   grid-column-start: 2;
   grid-row-start: 3;
   grid-row-end: 5;
   border-left: 2px solid #DEDEDE;
   padding-left: 7px;
   margin-left: -7px;
 }

