
.dshbrd-btn-close {
    padding: 8px 2px;
    font-size: 23px;

}
.dshbrd-btn-close i {
    cursor: pointer;
}

.dshbrd-hd-bgtrang {
background: #fff;
height: 100px;
}
.dshbrd-hd-bgtrang {
    position: fixed;
    height: 100%;
    right: -100%;
    width: 100%;
    padding: 0;
    top: 0;
    background: transparent;
    z-index:1050;
    box-shadow: none;
}
.dshbrd-hd-bgtrang .dshbrd-container {
    padding: 0 !important;
    width: 100%;
}

.dshbrd-hd-bgtrang .dshbrd-container {
    position: fixed;
    width: 25%;
    top: 0;
    right: -100%;
    background: #fff;
    height: 100%;
    z-index: 9999;
    overflow: auto;
    transition: 0.5s ease;
}

.dshbrd-hd-bgtrang .dshbrd-inner-wrapper-hd {
    flex-direction: column;
}
.dshbrd-hd-bgtrang .dshbrd-inner-wrapper-hd .dshbrd-logo-hd {
    padding: 15px;
}

.dshbrd-hd-bgtrang .dshbrd-inner-wrapper-hd .dshbrd-logo-hd {
    padding: 10px 0;
}
.dshbrd-hd-bgtrang .dshbrd-inner-wrapper-hd .dshbrd-logo-hd a {
    text-align: center;
}
.dshbrd-hd-bgtrang .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav {
    flex-direction: column;
}
.dshbrd-hd-bgtrang .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav li {
    width: 100%;
}
.dshbrd-hd-bgtrang .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav li a {
    color: #fff !important;
    padding: 15px 30px 15px 15px !important;
    border-bottom: 1px solid rgba(213, 213, 213, 0.3);
}

.dshbrd-hd-bgtrang .dshbrd-container {
padding: 20px 0;
}
.dshbrd-hd-bgtrang .dshbrd-container .dshbrd-inner-wrapper-hd {
display: flex;
justify-content: space-between;
}
.dshbrd-hd-bgtrang .dshbrd-container .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav {
display: flex;
flex-wrap: wrap;
align-items: center;
}
.dshbrd-hd-bgtrang .dshbrd-container .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav .dshbrd-menu-item a {
display: block;
padding: 20px 12px;
text-transform: uppercase;
color: #707070;
transition: 0.2s ease;
}
.dshbrd-hd-bgtrang .dshbrd-container .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav .dshbrd-menu-item a:hover {
color: #00B2E7;
}
.dshbrd-hd-bgtrang .dshbrd-container .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav .dshbrd-current-menu-item a {
color: #00B2E7;
}

.dshbrd-nav-overlay {
display: block !important;
z-index: 999;
top: 0;
right: -100%;
width: 100%;
height: 100%;
background: #0007;
position: fixed;
transition: 0.5s ease;
}

.dshbrd-hd-bgtrang .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav {
flex-direction: column;
}
.dshbrd-hd-bgtrang .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav li {
width: 100%;
}
.dshbrd-hd-bgtrang .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav li a {
color: #fff !important;
padding: 15px 30px 15px 15px !important;
border-bottom: 1px solid rgba(213, 213, 213, 0.3);
}

.dshbrd-hd-bgtrang .dshbrd-container {
padding: 20px 0;
}
.dshbrd-hd-bgtrang .dshbrd-container .dshbrd-inner-wrapper-hd {
display: flex;
justify-content: space-between;
}
.dshbrd-hd-bgtrang .dshbrd-container .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav {
display: flex;
flex-wrap: wrap;
align-items: center;
}
.dshbrd-hd-bgtrang .dshbrd-container .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav .dshbrd-menu-item a {
display: block;
padding: 20px 12px;
text-transform: uppercase;
color: #707070;
transition: 0.2s ease;
}
.dshbrd-hd-bgtrang .dshbrd-container .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav .dshbrd-menu-item a:hover {
color: #00B2E7;
}
.dshbrd-hd-bgtrang .dshbrd-container .dshbrd-inner-wrapper-hd .dshbrd-hd-menu-nav .dshbrd-current-menu-item a {
color: #00B2E7;
}
.dshbrd-sub-menu {
transition-duration: 0.5s;
position: relative;
}
.dshbrd-sub-menu .dshbrd-icon-dropdownMB {
display: none;
}
.dshbrd-sub-menu > a {
position: relative;
z-index: 1;
}
.dshbrd-sub-menu {
    border-bottom: 1px solid rgba(213, 213, 213, 0.3);
}
.dshbrd-sub-menu .dshbrd-icon-dropdownMB {
    display: unset;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0 10px;
    width: 35px;
    height: 100%;
    z-index: 22;
    transition: 0.3s ease;
}
.dshbrd-sub-menu a {
    border-bottom: 0 !important;
}

.dshbrd-sub-menu:focus .dshbrd-dropdown, .dshbrd-sub-menu:focus-within .dshbrd-dropdown, .dshbrd-sub-menu:hover .dshbrd-dropdown {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(-5%);
    transition-delay: 0s, 0s, 0.3s;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.16);
}

.dshbrd-sub-menu .dshbrd-dropdown {
    width: 250px;
    position: relative;
    background: #fff;
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.5s ease;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.dshbrd-sub-menu .dshbrd-dropdown::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -60px;
    left: 20%;
    -webkit-transform: translateX(-50%) translateY(50px);
    transform: translateX(-50%) translateY(50px);
    opacity: 1;
}
.dshbrd-sub-menu .dshbrd-dropdown::before {
    display: none;
}

.dshbrd-sub-menu .dshbrd-dropdown {
    margin-left: 20px;
    position: relative;
    visibility: hidden;
    background: none;
    transform: none;
    height: 0;
    transition: 0.3s ease;
}
.dshbrd-sub-menu .dshbrd-dropdown.dshbrd-active {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease;
}

.dshbrd-sub-menu .dshbrd-dropdown li {
margin-right: 0 !important;
display: block;
font: 14px Arial;
text-transform: none;
}
.dshbrd-sub-menu .dshbrd-dropdown li {
    padding: 0 !important;
    border-bottom: 0 !important;
}

.dshbrd-sub-menu .dshbrd-dropdown li a {
padding: 15px 30px !important;
}
.dshbrd-sub-menu .dshbrd-dropdown li a:hover {
background: #00B2E7;
color: #fff !important;
}

.dshbrd-sub-menu .dshbrd-dropdown li a {
    border-bottom: 0 !important;
    padding: 5px 10px !important;
}
.dshbrd-title-header-nav {
    font-size: 1.75em;
    font-weight: bold;
    line-height: 30px;
}

.dshbrd-title-card-nav {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 30px;
}

.dshbrd-item {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    border-bottom: 2px solid rgba(34, 36, 38, 0.15);
    margin-bottom: 14px;
}

.dshbrd-line-bttn-static {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid rgba(34, 36, 38, 0.15);
    margin-bottom: 14px;
}

.dshbrd-sys-dashboard {
    padding: 10px;
}
.dshbrd-edit-info {
    margin: -3px 0px 0px 10px;
    cursor: pointer;
}

@media  screen and (max-width:1568px) {
    .dshbrd-hd-bgtrang .dshbrd-container{
        width: 30%;
    }
}

@media  screen and (max-width:1306px) {
    .dshbrd-title-header-nav {
        font-size: 1.5em;
    }
    .dshbrd-title-card-nav {
        font-size: 1em;
    }
}

@media  screen and (max-width:1148px) {
    .dshbrd-hd-bgtrang .dshbrd-container {
        width: 40%;
    }
}

@media  screen and (max-width:930px) {
    .dshbrd-title-header-nav {
        font-size: 1.2em;
    }
}

@media  screen and (max-width:768px) {
    .dshbrd-hd-bgtrang .dshbrd-container {
        width: 300px;
        margin-top: 34px;
    }
}