.PADMLBL-group {
    display: flex;
}

.PADMLBL-field {
    display: flex;
    padding-right: 30px;
}
.PADMLBL-field label {
    font-weight: bold;
}
.PADMLBL-field p {
    font-weight: bold;
    padding-left: 5px;
}
.PADMLBL-mota-km {
    font-weight: normal;
    padding-right: 10px;
    font-size: 14px;
}