.sc-overflow {
   overflow: auto;
   border: 1px solid rgba(34, 36, 38, 0.1);
}

.sc-button-save {
   background-color: white !important;
}

.sc-row-active {
   background: #CCE2FF !important;
   font-weight: 600;
}

.hover-edit tbody tr td.edit {
   position: relative;
}

.hover-edit tbody tr td .hover-td {
   display: none;
}
.hover-edit tbody tr:hover td .hover-td {
   display: block;
   position: absolute;
   right: 0;
   top: 37%;
   opacity: 0.5;
}