.HRCCGV-sticky-left {
    position: sticky !important;
    position: -webkit-sticky !important;
    background-color: #f9fafb !important;
    border-right: 1px solid rgba(34, 36, 38, 0.1);
    z-index: 1;
}
.HRCCGV-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.HRCCGV-header-form {
    align-self: center;
    display: flex;
}
/* .HRCCGV-header-btngrp {
} */

.HRCCGV-sticky-top {
    position: sticky !important;
    position: -webkit-sticky !important;
    background-color: #f9fafb !important;
    z-index: 1;
    top: 0px !important;
}

.HRCCGV-active-table-cell {
    background-color: #bdbdbd !important;
}

@media screen and (max-width: 1070px) {
    .HRCCGV-header {
        flex-wrap: wrap;
    }
    .HRCCGV-header-form {
        width: 100%;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 740px) {
    .HRCCGV-header-btngrp {
        padding-top:0px;
    }
}