.HRLD_tbcell:hover .HRLD_btngroup {
    display: block;
    cursor: pointer;
    transform: translateY(-10px);
}
.HRLD_btngroup {
    /* position: absolute; */
    padding-top: 10px;
    display: none;
}

.HRLD_tbcell {
    position: relative;
    height: 60px;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}
.HRLD_itemtbcell {
    display: grid;
    padding: 0px 0px 13px 0px;
    min-height: 39px;
}
.HRLD-tablecellten {
    position: relative;
}

.HRLD-tablecellten::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #9a9b9c;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 700%;
}

.HRLD-tablecellcal {
    position: relative;
}

.HRLD-tablecellcal::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #9a9b9c;
    height: 2px;
    bottom: 0;
    right: 0;
    width: 900%;
}

.HRLD_itemtbcell > * {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self:center;
}
.HRLD_itemtbcell > *:last-child {
    justify-self: right;
}

.HRLD_btngroup_action {
    display: none;
}
/* .HRLD_btn_action {
} */

.HRLD_itemtbcell:hover .HRLD_btngroup_action {
    display: block;
}

.HRLD-prev-week {
    position: absolute;
    left: 0;
    top:30%;
    cursor: pointer;
}

.HRLD-next-week {
    position: absolute;
    right: 0;
    top: 30%;
    cursor: pointer;
}
.HRCCGV-tableheader-active {
    position: sticky;
    top: 90px;
    z-index: 1;
}
.react-datepicker-popper {
    z-index: 100;
  }
  