.zrc-container-flex {
   padding: 0 0 14px 0;
   text-align: right;
}

.zrc-overflow {
  overflow: auto;
  border: 1px solid rgba(34, 36, 38, 0.1);
}

.zrc-description {
  white-space: pre-line;
  word-wrap: break-word;
}
 