@import "~heading.less";

.container {
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.containerMobile {
  padding-top: 40px;
  //padding-top: @relative54px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}