.pusher {
  min-height: 100vh !important;
}

.nav-home {
  width: 100% !important;
  font-size: 18px !important;
}

.nav-home .sub {
  color: rgba(255, 255, 255, 0.9) !important
}

.logout {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-top: 28px;
}

.logout .btn{
  border-radius: 0px !important;
}