.pm-title {
   width: 100%;
   font-size: 18px;
   font-weight: 600;
}

.pm-row-comment {
   position: relative;
   border-radius: 3px;
   border: 1px solid rgba(34, 36, 38, 0.15);
   padding: 14px;
   margin: 14px 0;
}

.pm-user-comment {
   margin-left: 48px;
   padding-bottom: 7px;
}

.pm-user-comment-name {
   font-size: 1.1em;
   font-weight: bold;
}

.pm-time-comment {
   font-size: 12px;
   font-style: italic;
   opacity: 0.7;
   margin-left: 21px
}

.pm-time-comment:hover{
   text-decoration: underline;
   cursor: pointer;
}
