.react-checkbox-tree {
    color: #444;
    font-family: "Roboto", sans-serif;
  }
  
  .clickable-labels {
    display: flex;
  }

  .clickable-labels > * {
    width: 50%;
  }
  
  .expand-all-container {
    max-width: 400px;
  }
  
  .rct-node-icon .far {
    width: 1em;
    text-align: center;
  }
  
  .filter-container > .filter-text {
    display: block;
    margin-bottom: .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-clip: padding-box;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-size: 1rem;
  }
  .rct-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    min-width: 1px;
  }
  
  .rct-node-icon {
    color: rgba(0,0,0,.6);
}
.rct-text {
  margin: 10px 0px 10px 0px;
}
.rct-text label {
  display: flex;
}