.HR-field-checkbox {
    padding-top: 30px;
}
.HR-header {
    padding-bottom: 10px;
    position: sticky !important;
    top: 0 !important;
    z-index: 1;
}
.HR-header-content {
    display: flex;
    justify-content: space-between;
    padding-top: 1.2em;
}
.HR-sticky-top {
    position: sticky !important;
    position: -webkit-sticky !important;
    background-color: #f9fafb !important;
    z-index: 1;
    top: 60px !important;
}