.HR-Ctn-content-right {
    width: calc(9*100%/12);
    height: auto;
    margin: 1em;
}
.HR-Ctn-content-left {
    width: calc(3*100%/12);
    height: auto;
    margin: 1em;
}
.HR-content {
    display: flex;
    flex-wrap: nowrap;
}
.HR-image {
    width: auto;
    max-height: 200px;
    height: auto;
}
.HR-custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.HR-box-btn {
    /* margin-top:1em;
    display: flex;
    justify-content: center; */
    position: absolute;
    z-index: 1;
    bottom: 0px;
    display: none;
}
.HR-box-btn-form {
    margin-top:1em;
    display: flex;
    justify-content: space-between;
}
.HR-ui.HR-icon.HR-header {
    display: block;
}
.HR-show-signature{
    margin: 0px auto;
}
.HR-box-img {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    position: relative;
}
.HR-box-img:hover .HR-box-btn {
    position: absolute;
    z-index: 10;
    bottom: 20%;
    display: block;
}

/* .HR-form-info {
    
} */
.HR-field-info {
    display: block;
    font-size: 1.2em;
    padding-bottom: 5px;
}
.HR-field-btn {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.HR-label {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .HR-Ctn-content-right {
        display: flex;
        width: calc(12*100%/12);
        margin: 1em;
        justify-content: center;
    }
    .HR-Ctn-content-left {
        width: calc(12*100%/12);
        margin: 1em;
    } 
    .HR-box-img {
        display: flex;
        justify-content: center;
    }
    .HR-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center ;
    }
    .HR-box-btn-form {
        margin-top:1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .HR-ui.HR-segment {
        width: 100%;
    }
}

@media  screen and (max-width: 398px) {
    .HR-box-btn-form {
        justify-content: space-around;
    }
    .HR-btn-form-left {
        margin: 0.HR-5em;
    }
    .HR-btn-form-right {
        margin: 0.5em;
    }
}