.DraftEdit-header {
    display: flex;
    font-size: 0.92857143em;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    text-transform: none;
    margin: 0em 0em 0.28571429rem 0em;
  }
  .DraftEdit-wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .DraftEdit-editor-class {
    background-color:#FFFF;
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .data-text:focus .DraftEdit-editor-class{
    border: 1px solid #2f67d8;
  }
  .DraftEdit-toolbar-class {
    border: 1px solid #ccc;
  }